{% extends "main/base.html" %}
{% load static %}
{% block css %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
{% include "main/sidebar.html" %}
<div class="content">
<div class="container">
<div class="row justify-content-center">
<h2 class="pt-2" style="color: #2e3d4d;">Settings</h2>
</div>
<hr class="divider my-4"/>
<div class="row justify-content-center shadow-none p-3 mb-5 bg-light rounded">
    <form class="row g-3" method="POST">
        {% csrf_token %}
        <div class="col-12">
        <label for="old_password" class="form-label">Old Password</label>
        <input class="form-control" type="password" id="old_password" name="old_password" required><br></div>
        <div class="col-12">
        <label for="new_password1" class="form-label">New Password</label>
        <input class="form-control" type="password" id="new_password1" name="new_password1" required><br></div>
        <div class="col-12">
        <label for="new_password2" class="form-label">New Password Confirmation</label>
        <input class="form-control" type="password" id="new_password2" name="new_password2" required><br></div>
        <div class="col-12">
        <input type="submit" value="Save Changes" class="btn btn-info"></div>
    </form>
    </div>
</div>
</div>
{% endblock %}