{% extends "main/base.html" %}

{% block content %}

<h1>Add Home deliveries</h1>

<br></br>


<form method="POST">
{% csrf_token %}
  <label for="date">Date: </label>
  <input type="date" name="order_date"><br>
  <label for="order id">Order ID: </label>
  <input type="text" name="order_id"><br>
  <label for="cust id">Customer ID: </label>
  <input type="text" name="cust_id"><br>
  <label for="emp id">Employee ID: </label>
  <input type="text" name="emp_id"><br>
  <label for="time">Time: </label>
  <input type="time" name="order_time"><br>
</form>
<br>
<input type="submit" value="ADD">





{% endblock %}