{% extends "main/base.html" %}
{% load static %}
{% block css %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
{% include "main/sidebar.html" %}
<div class="content">
<div class="container">
<div class="row justify-content-center">
  <h2 class="pt-2" style="color: #2e3d4d;">Add Home Delivery Order</h2>
</div>
<hr class="divider my-4"/>
<div class="row justify-content-center shadow-none p-3 mb-5 bg-light rounded">
<form class="row g-3" method="POST">
{% csrf_token %}
  <div class="col-12">
  <label for="date" class="form-label">Date</label>
  <input type="date" id="date" name="order_date" class="form-control" required><br></div>
  <div class="col-12">
  <label for="emp id" class="form-label">Employee</label>
  <select id="emp id" name="emp_id" class="form-control" required>
    <option selected>Select employee</option>
    {% for emp in employees %}
    <option value="{{emp.emp_id}}">{{ emp }}</option>
    {% endfor %}
  </select><br></div>
  <div class="col-12">
  <label for="time" class="form-label">Time</label>
  <input type="time" id="time" name="order_time" class="form-control" required><br></div>
  <div class="col-12">
  <input type="submit" value="Add" class="btn btn-info"></div>
</form>
</div>
</div>
</div>
{% endblock %}