{% extends "main/base.html" %}
{% load static %}
{% block css %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
{% include "main/sidebar.html" %}
<div class="content">
<div class="container">
<div class="row justify-content-center">
<h2 class="pt-2" style="color: #2e3d4d;">Edit Employee</h2>
</div>
<hr class="divider my-4"/>
<div class="justify-content-center shadow-none p-3 mb-5 bg-light rounded">
<form method="POST">
    {% csrf_token %}
    <label for="emp_to_edit" class="form-label">Select employee to edit</label>
    <select id="emp_to_edit" name="emp_to_edit" class="form-control" required>
        <option>Select employee</option>
        {% for emp in employees %}
        <option value="{{emp.emp_id}}">{{ emp }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Go" class="btn btn-info">
</form>
</div>
</div>
</div>
{% endblock %}