{% extends "main/base.html" %}
{% block content %}
<h1>Add Store visits</h1>
<br></br>
<form method="POST">
{% csrf_token %}
  <label for="date">Date: </label>
  <input type="date" name="visit_date" required><br>
  <label for="temp">Body Temperature: </label>
  <input type="text" name="body_temp" placeholder="In degree Celcius" required><br>
  <label for="in time">Check-in Time: </label>
  <input type="time" name="check_in_time" required><br>
  <label for="out time">Check-out Time: </label>
  <input type="time" name="check_out_time" required><br>
  <input type="submit" value="Add">
</form>
<br>
{% endblock %}